.layout {
    width: 100%;
    height: 100%;
    overflow: hidden;

        .ant-layout-sider {
            height: 100%!important;
            background-color: #001529;
            overflow-y: auto;
            color: #fff;
            box-shadow: 2px 0 6px rgba(0,21,41,.35);
        }
        .ant-layout-sider-children {

        }
    }